spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/shop
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 1000
#        show_sql: true --> System.out 에 하이버네이트 실행 SQL 을 남긴다.
        format_sql: true
logging:
  level:
    org.hibernate.SQL: debug # logger 에 SQL 을 남기기 때문에 운영환경에서는 이것을 활용한다.
#    org.hibernate.type: trace
